<!DOCTYPE html>
html(lang="ru-en")
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", href="https://necolas.github.io/normalize.css/3.0.2/normalize.css")
		link(rel="stylesheet", href="css/style.css")
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<![endif]-->
		title Плиткино | Главная
	body
		header
			.top-panel
				.logo
					a(href="/")
						img(src="images/ui/logo.png", alt="Плиткино")
				.top-nav
					nav
						ul
							li
								a(href="#") Главная
							li
								a(href="#") Продукция
							li
								a(href="#") Галерея
							li
								a(href="#") О нас
							li
								a(href="#") Доставка и оплата
							li
								a(href="#") Новости
							li
								a(href="#") Контакты
					.search
						.field-container
							input(type="text" placeholder="Поиск")
						.write-us
							a(href="#") Напишите нам
				.contact-block
					.phone
						a(href="tel:74957738399") +7 (495) 77-383-99
					.bottom-field
						.callback
							a(href="#") Перезвоните мне
						.top-social
							a(href="#")
							a(href="#")
							a(href="#")
